<nav class="navbar navbar-expand-lg navbar-light bg-light">
    
    
          <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="" routerLink="/Home">HOME</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/employeelist" >employeelist</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/employeedetail">employee detail</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/personform">AddPersonForm</a>
        </li>
      </ul>

  </nav>
  

    <router-outlet></router-outlet>



<!--
<app-employee-list></app-employee-list>
<app-employeedetail></app-employeedetail>-->