<div>
        <table border="1">
                <tr>
                    <th>Sr.no</th>
                    <th>City</th>
                    <th>Student Id</th>
                    <th>Student Name</th>
            
                </tr>
        
                <tr *ngFor="let p of cityList;index as i;let s of p.student">
                        <td>{{i+1}}</td>
                        <td>{{p.city}}</td>
                        <td>{{s.studentId}}</td> 
                        <td>{{s.studentName}}</td>
                       
                    </tr>
                </table>
            


    <ul>
<li *ngFor="let p of cityList">
{{p.city}}
<ul>
<li  *ngFor="let s of p.student">

   {{s.studentId}},{{s.studentName}}

</ul>
</li>
</ul>

</div>
