<div class="header">

<p>Iris Software is a global Information Technology services organization offering high-quality solutions to businesses. It services the information technology requirements of Fortune 1000 companies by utilizing specialized domain knowledge, best-of-breed technologies, rapidly deployable proprietary frameworks/solutions and flexible engagement models.
</p>
<p>We have been serving our customers for over 25 years from our offices in New York, Toronto, New Delhi and our headquarters, Edison, New Jersey. We service our customers across two broad business lines - Financial Services and Enterprise Services.
</p>
<p>Iris provides thought leadership to solve business problems creatively by conceptualizing & delivering uncommon solutions leveraging existing technologies & new computing paradigms such as Digital Transformation, Machine Learning, Analytics & Insights, Cloud Computing & Process Automation. Iris continually innovates to accelerate outcomes such as time-to-market, lower costs, ease of maintenance & reduced TCO.

</p></div>