<div align="center">

    <h1 style="background-color:lightblue;color:darkblue">Admin Page </h1><hr/>

</div>
<div class="dropdown" align="center">

        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    
          Admin Options
    
        </button>
    
        <div class="dropdown-menu">
    
          <a class="dropdown-item" href="configuration">Configure Project</a>
    
          <a class="dropdown-item" href="allocation">Allocate Project</a>
      
       <a class="dropdown-item" href="bill">View Employee Details</a>
      
        </div>
    
      </div>