

<body style="background-color:powderblue;">

        <h1 style="font-size:80px;">WELCOME TO Employee</h1>
        <button style="background-color:brown; border-color:black; color:white" (click)="changeVal(true)">Show Actors List</button>
        <button style="background-color:brown; border-color:black; color:white" (click)="changeVal(false)">Hide Actor List</button> 
        <div *ngIf="isValid">
                <font size="25" face="verdana" color="green">Please select one Employee</font>
        
                <select (change)="setValue($event)">
                        <button class="dropbtn">Dropdown</button>
                    <option value="none">Select your favourite Employee</option>
                    <option value="Gourav">Gourav</option>
                    <option value="Himanshu">Himanshu</option>
                    <option value="samanvay">samanvay</option>
                    <option value="Akash">Akash</option>
                    <option value="Anuj">Anuj</option>
                </select>
                
                <font size="10" face="verdana" color="green">
                <br/>
                My Choosen Employee : 
                <div [ngSwitch]="myChoosenVal">
                        <h3 *ngSwitchCase="'Gourav'">Gourav</h3>
                        <h3 *ngSwitchCase="'Himanshu'">Himanshu</h3>
                               <h3 *ngSwitchCase="'samanvay'">samanvay</h3>
                            <h3 *ngSwitchCase="'Akash'">Akash</h3>
                        <h3 *ngSwitchCase="'Anuj'">Anuj</h3>
                        <h3 *ngSwitchDefault>Default</h3>
                </div> 
            </font>
            </div>
        </body>